* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    color: darkslategrey;
}

body.dark {
    background-color: #000;
    color: #ffff;
}

h1 {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

#space {
    width: 60vw;
    height: 80vh;
    position: relative;
    text-align: center;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.bar {
    width: 20px;
    margin: 0 0 0 1px;;
    background-color: pink;
    display: inline-block;
    border-radius: 28px;
}

.sort {
    width: 10%;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 3%;
}

.button-list  {
    list-style: none;
    margin-top: 25px;
}

.button-list li {
    margin-top: 25px;
}

.settings {
    width: 10%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 3%;
}


/*Buttons*/
button {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: #ffff;
    background-color: #28D82F;
}

button#dark-button {
    margin-top: 100px;
}

button.dark-button {
    background-color: lightpink;
}

button:hover {
    cursor: pointer;
    background-color: #69FB70;
    transition: ease 0.5s;
}

button.dark-hover:hover {
    background-color: pink;
}

/*Sliders*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-top: 30px;
}

.slidecontainer p{
    margin-bottom: 5px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; /
  height: 25px; 
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer; 
}

.dark-slider::-webkit-slider-thumb {
    background: lightpink;
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer; 
}

#speedRange {
    direction: rtl;
}